<div class="cards">
    <div class="uno">
<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Halo</mat-card-title>
      <mat-card-subtitle>Accion y Aventura</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/Halo.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText1}}
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>DMZ</mat-card-title>
      <mat-card-subtitle>Drama y Fantasia</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/DMZ.JPG" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText2}}
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>OZARK</mat-card-title>
      <mat-card-subtitle>Crimen Drama</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/OZARK..JPG" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText3}}
    </mat-card-content>
  </mat-card>
</div>
<div class="dos">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>THE WITCHER</mat-card-title>
      <mat-card-subtitle>Fantasia Drama y Accion</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/THE WITCHER.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText4}}
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>SOMOS</mat-card-title>
      <mat-card-subtitle>Drama</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/somos.JPG" >
    </mat-card-title-group>
    <mat-card-content>
      {{longText5}}
    </mat-card-content>
  </mat-card>
</div>
</div>